<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
    <h1>Articles</h1>
    <ul>
        <!--- LOOP THAT DISPLAYS EACH ITEM IN THE LISTE-->
        <!--- "article" variable defined by articles in the loop, is an object that contains: a title, a content, and a publication date-->
        {% for article in articles %} 
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                <p><em>Published on {{ article.publication_date }}</em></p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
