{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% trans "List of articles" %}</title>
  </head>
  <body>
    {% include 'main/header.html' %}

    <h1>{% trans "List of articles" %}</h1>

    <ul>
      <!-- MAKE A LOOP TO RETRIEVE ALL THE ARTICLES -->
      {% for article in articles %}
      <li>
        <a href="{% url 'article_detail' article_id=article.id %}"
          ><h2>{{ article.title }}</h2></a
        >
      </li>
      {% empty %}
      <li>{% trans "No article found" %}</li>
      {% endfor %}
    </ul>
  </body>
</html>
